###########################################
#       DAWARICH
##########################################

NETWORK_NAME=homelab
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=dawarich_db

DAWARICH_APP_PORT=8086
APPLICATION_HOSTS=*

DATABASE_HOST=dawarich_db
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=dawarich_development

TIME_ZONE=Asia/Kolkata
SECRET_KEY_BASE=your_secret_key_here


###########################################
#               BloTils
##########################################
BT_ENV=production
BT_BASE_URL=https://blotils.prinzpiuz.in
# Database
BT_DBLOCATION=./BloTils.db
# SMTP
BT_SMTP_HOST=smtp.mailgun.org
BT_SMTP_PORT=587
BT_SMTP_USERNAME=blotils@prinzpiuz.in
BT_SMTP_PASSWORD=<smtp password>
BT_SMTP_FROM=blotils@prinzpiuz.in
BT_SMTP_FROMNAME=BloTils

BT_SENTRY_DSN=

###########################################
#           PriceStalker
##########################################
POSTGRES_PASSWORD=
JWT_SECRET=

#####################
# Snapotter
#####################

SNAPOTTER_USERNAME =
SNAPOTTER_PASSWORD =
